.section-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    overflow: hidden; 
}
  
.slides {
    display: flex;
    height: 100%;
    width: 500%; 
}

.slides input {
    display: none; 
}

.slides .slide {
    width: 20%;
    transition: 2s; 
}
.slides .slide img {
    width: 1390px;
    height: 100%;
    object-fit: cover; 
}
/* responsive pc xl */
@media (min-width: 1391px) {
    .slides .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
}

/* responsive < tablet */
@media (max-width: 960px) {
    .slides .slide img {
        width: 960px;
        height: 100%;
        object-fit: cover; 
    }
}

/* responsive < tablet */
@media (max-width: 760px) {
    .slides .slide img {
        width: 760px;
        height: 100%;
        object-fit: cover; 
    }
}
.navigation-manual {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 898000; 
}

.manual-btn {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #e6e4e4;
    cursor: pointer; 
}

.manual-btn:hover {
    background-color: cyan; 
}

#radio1:checked ~ .first {
    margin-left: 0; 
}

#radio2:checked ~ .first {
    margin-left: -20%; 
}

#radio3:checked ~ .first {
    margin-left: -40%; 
}

#radio4:checked ~ .first {
    margin-left: -60%; 
}

#radio1:checked ~ .navigation-manual .manual-btn:first-child {
    background: cyan; 
}

#radio2:checked ~ .navigation-manual .manual-btn:nth-child(2) {
    background: cyan; 
}

#radio3:checked ~ .navigation-manual .manual-btn:nth-child(3) {
    background: cyan; 
}

#radio4:checked ~ .navigation-manual .manual-btn:last-child {
    background: cyan; 
}

.overlay-full-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    background: linear-gradient(0, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3)); 
}